<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Tthe Revolving Kitchen client message:</h1>
    <p>
      Name: <%= @message.name %>.<br>
    </p>
    <p>
    Surname: <%= @message.surname %>.<br>
  </p>
  <p>
  Smail: <%= @message.email %>.<br>
</p>
<p>
Phone: <%= @message.phone %>.<br>
</p>
<p>
Message: <%= @message.message %>.<br>
</p>

  </body>
</html>