<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      name: <%= @message.name %>.<br>
    </p>
    <p>
    surname: <%= @message.surname %>.<br>
  </p>
  <p>
  email: <%= @message.email %>.<br>
</p>
<p>
phone: <%= @message.phone %>.<br>
</p>
<p>
message: <%= @message.message %>.<br>
</p>

  </body>
</html>